<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Admin Access Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- navigation bar at the top of page -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light home-nav">
        <a class="navbar-brand" href="index.html"><img src="./images/checkout-logo.png" alt="checkout-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="checkout-page.html">Checkout<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin-login">Admin Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="admin-page">Admin Access</a>
                </li>
            </ul>
        </div>
    </nav>

   <!-- tabs that will be the different sections of the page -->
    <div class="tab-content" id="v-pills-tabContent">
        <!-- first tab, the main buttons for admin -->
        <div class="tab-pane fade show active" id="v-pills-admin-main" role="tabpanel" aria-labelledby="v-pills-admin-main-tab">
            <div class="d-flex align-items-center admin-container">
                <div class="container admin-container">
                    <div class="row justify-content-center mb-4">
                        <button type="button" id="addEmpBtn" class="btn btn-success col-2 admin-page-button mr-4">
                            Add Employees 
                        </button>
                        <button type="button" id ="removeEmpBtn" class="btn btn-danger col-2 admin-page-button ml-4">
                            Remove Employees
                        </button>
                    </div>
                    <div class="row justify-content-center mb-4">
                        <button type="button" id="addServiceBtn" class="btn btn-success col-2 admin-page-button mr-4">
                            Add Services
                        </button>
                        <button type="button" id="removeServiceBtn" class="btn btn-danger col-2 admin-page-button ml-4">
                            Remove Services
                        </button>
                    </div>
                    <div class="row justify-content-center mb-4">
                        <button type="button" id="editDetailsBtn" class="btn btn-secondary col-2 admin-page-button mr-4">
                            Edit Details
                        </button>
                        <button type="button" id="viewOrdersBtn" class="btn btn-warning col-2 admin-page-button ml-4">
                            View Orders
                        </button>
                    </div>
                    <!-- buttons to add:
                            -edit service details
                            -edit manager details
                            -view orders
                            -view employee weekly payout
                     -->
                </div>
            </div>
        </div>

        <!-- second tab, adding employees -->
        <div class="tab-pane fade" id="v-pills-add-employee" role="tabpanel" aria-labelledby="v-pills-add-employee-tab">
            <div class="container row page-wrapper">
                <div class="col-6">
                    <h2>Current Employees</h2>
                    <ul class="list-group list-group-flush currentEmployees">
                         <!-- li elements will end up here, resembling current employees  -->
                    </ul> 
                </div>
                <div class="col-6">
                    <h2>Enter Employee Name</h2>
                    <form class="create-employee-form">
                        <div class="form-group">
                            <label for="first-name">First Name</label>
                            <input type="text" class="form-control" id="first-name" placeholder="First name">
                        </div>
                        <div class="form-group">
                            <label for="last-name">Last Name</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Last name">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary">Add New Employee</button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>

        <!-- third tab, removing employees -->
        <div class="tab-pane fade" id="v-pills-remove-employee" role="tabpanel" aria-labelledby="v-pills-remove-employee-tab">
            <div class="container row page-wrapper main-remove-block">
                <div class="col"></div>
                <div class="col-6">
                    <h2>Current Employees</h2>
                    <select class="custom-select d-block w-100 mt-5 currentEmployees2" required>
                        <option value="">Choose...</option>
                        <!-- employees from database will be entered here -->
                    </select>
                    <div class="text-center mt-5">
                        <button class="btn btn-primary remove-btn">Remove Employee</button>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>

        <!-- fourth tab, adding services -->
        <div class="tab-pane fade" id="v-pills-add-service" role="tabpanel" aria-labelledby="v-pills-add-service-tab">
            <div class="container row page-wrapper main-remove-block">
                <div class="col-6">
                    <h2>Current Services</h2>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="nails-tab" data-toggle="tab" href="" role="tab" aria-controls="" aria-selected="true">Nails</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pedicure-tab" data-toggle="tab" href="" role="tab" aria-controls="" aria-selected="false">Pedicure</a>
                        </li>
                    </ul>
                    <!-- tab section in the add services page -->
                    <div class="tab-content" id="add-services-tab-content">
                        <!-- the nails tab -->
                        <div class="tab-pane fade show active" id="nailsTab" role="tabpanel" aria-labelledby="nails-tab">
                            <div class="list-group-item d-flex justify-content-between lh-condensed">
                                <h5 class="my-0 px-0 col-9"><u><i>Name</i></u></h5>
                                <h5 class="col-2 pl-0 pCost"><u><i>Cost</i></u></h5>
                            </div>
                            <ul class="list-group list-group-flush currentNails">
                                <!-- li elements will end up here, resembling current nail services  -->
                           </ul> 
                        </div>
                        <!-- the pedicure tab -->
                        <div class="tab-pane fade" id="pedicureTab" role="tabpanel" aria-labelledby="pedicure-tab">
                            <div class="list-group-item d-flex justify-content-between lh-condensed">
                                <h5 class="my-0 px-0 col-9"><u><i>Name</i></u></h5>
                                <h5 class="col-2 pl-0 pCost"><u><i>Cost</i></u></h5>
                            </div>
                            <ul class="list-group list-group-flush currentPedicure">
                                <!-- li elements will end up here, resembling current pedicure services  -->
                            </ul>
                        </div>
                    </div>  
                </div>
                <!-- right hand side of the add services page -->
                <div class="col-6">
                    <h2>Enter Service Details</h2>
                    <form class="add-service-form">
                        <!-- category selection of the new service -->
                        <div class="form-group">
                            <label for="service-category" class="categoryText">Select Service Category</label>
                            <select class="custom-select d-block w-100" id="service-category" required>
                                <option value="">Choose...</option>
                                <option value="">Nails</option>
                                <option value="">Pedicure</option>
                            </select>
                        </div>
                        <!-- entering of new service name -->
                        <div class="form-group">
                            <label for="service-name">Service Name</label>
                            <input type="text" class="form-control" id="service-name" placeholder="Name">
                        </div>
                        <!-- entering  of new service cost -->
                        <div class="form-group">
                            <label for="service-cost">Service Cost (in USD $)</label>
                            <input type="text" class="form-control" id="service-cost" placeholder="Cost">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary">Add Service</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 5th tab, removing a service (either nails or pedicure) -->
        <div class="tab-pane fade" id="v-pills-remove-service" role="tabpanel" aria-labelledby="v-pills-remove-service-tab">
            <div class="container row page-wrapper remove-service-block">
                <div class="col"></div>
                <!-- left hand side of remove services page -->
                <div class="col-6">
                    <h2>Current Services</h2>
                    <div class="row">
                        <div class="col-6">
                            <label for="currentNails2" class="labelText">Nails</label>
                            <select class="custom-select d-block w-100 currentNails2" required>
                                <option value="">Choose...</option>
                                <!-- nails options from database will be entered here -->
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="currentPedicure2" class="labelText">Pedicure</label>
                            <select class="custom-select d-block w-100 currentPedicure2" required>
                                <option value="">Choose...</option>
                                <!-- pedicure options from database will be entered here -->
                            </select>
                        </div>
                    </div>
                    <!-- right hand side of the remove services page -->
                    <div class="text-center mt-5">
                        <button class="btn btn-primary remove-service">Remove Service</button>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>

        <!-- 6th tab, edit details of services, employee name, or manager credentials -->
        <div class="tab-pane fade" id="v-pills-edit-details" role="tabpanel" aria-labelledby="v-pills-edit-details-tab">
            <div class="container row page-wrapper">
                <div class="col"></div>
                <div class="col-11">
                    <h2>Edit Details</h2>
                    <ul class="nav nav-tabs nav-justified" id="myTab2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="services-tab" data-toggle="tab" href="" role="tab" aria-controls="" aria-selected="true">Services</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="employees-tab" data-toggle="tab" href="" role="tab" aria-controls="" aria-selected="false">Employees</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="managers-tab" data-toggle="tab" href="" role="tab" aria-controls="" aria-selected="false">Managers</a>
                        </li>
                    </ul>

                    <!-- services tab content -->
                    <div class="tab-content" id="edit-detais-tab-content">
                        <!-- services tab -->
                        <div class="tab-pane fade show active" id="editServicesTab" role="tabpanel" aria-labelledby="edit-services-tab">
                            <div class="container row mt-3">
                                <!-- left hand side of the edit details page of the services tab -->
                                <div class="col-6">
                                    <h4 class="mt-4 mb-4 text-center">- Select a Service to Edit -</h4>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="currentNails3" class="labelText">Nails</label>
                                            <select class="custom-select d-block w-100 currentNails3" required>
                                                <option value="">Choose...</option>
                                                <!-- nails options from database will be entered here -->
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <label for="currentPedicure3" class="labelText">Pedicure</label>
                                            <select class="custom-select d-block w-100 currentPedicure3" required>
                                                <option value="">Choose...</option>
                                                <!-- pedicure options from database will be entered here -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- right hand side of the edit details page of the services tab -->
                                <div class="col-6">
                                    <form class="add-service-form">
                                        <!-- entering of new service name -->
                                        <div class="form-group">
                                            <label for="edit-service-name">New Name</label>
                                            <input type="text" class="form-control" id="edit-service-name" placeholder="Select service...">
                                        </div>
                                        <!-- entering  of new service cost -->
                                        <div class="form-group">
                                            <label for="edit-service-cost">New Cost (in USD $)</label>
                                            <input type="text" class="form-control" id="edit-service-cost" placeholder="Select service...">
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-primary">Update Service</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- employees tab -->
                        <div class="tab-pane fade" id="editEmployeesTab" role="tabpanel" aria-labelledby="edit-employees-tab">
                            <div class="container row mt-3">
                                <!-- left hand side of the edit details page of the employees tab -->
                                <div class="col-6">
                                    <h4 class="mt-4 mb-4 text-center">- Select a Employee to Edit -</h4>
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col-8">
                                            <label for="currentEmployees3" class="labelText">Employees</label>
                                            <select class="custom-select d-block w-100 currentEmployees3" required>
                                                <option value="">Choose...</option>
                                                <!-- nails options from database will be entered here -->
                                            </select>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </div>

                                <!-- right hand side of the edit details page of the employees tab -->
                                <div class="col-6">
                                    <form class="add-service-form">
                                        <!-- entering of new service name -->
                                        <div class="form-group">
                                            <label for="edit-employee-fName">New First Name</label>
                                            <input type="text" class="form-control" id="edit-employee-fName" placeholder="Select service...">
                                        </div>
                                        <!-- entering  of new service cost -->
                                        <div class="form-group">
                                            <label for="edit-employee-lName">New Last Name</label>
                                            <input type="text" class="form-control" id="edit-employee-lName" placeholder="Select service...">
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-primary">Update Employee Details</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- managers tab -->
                        <div class="tab-pane fade" id="editManagersTab" role="tabpanel" aria-labelledby="edit-managers-tab">
                            <h2>edit managers</h2>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                
            </div>
        </div>

        <!-- 7th tab, viewing all orders in database -->
        <div class="tab-pane fade" id="v-pills-view-orders" role="tabpanel" aria-labelledby="v-pills-view-orders-tab">
            <div class="container row page-wrapper remove-service-block">
                <h2>List of Orders</h2>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Ordered Services</th>
                        <th scope="col">Total Cost of Order</th>
                      </tr>
                    </thead>
                    <tbody class="currentOrders">
                      <!-- <tr> tags will be entered here via getOrders.js -->
                    </tbody>
                  </table>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="admin/getEmployees.js"></script>
    <script src="admin/addEmployees.js"></script>
    <script src="admin/removeEmployees.js"></script>
    <script src="admin/getNails.js"></script>
    <script src="admin/getPedicure.js"></script>
    <script src="admin/addService.js"></script>
    <script src="admin/removeService.js"></script>
    <script src="admin/getOrders.js"></script>
    <script src="admin/main.js"></script>
</body>
</html>