/* Styling for home page (index.html) */

.container .button-row {
    margin-top: 40px;
}

.home-nav > img {
    height: 120px;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

/* Styling for admin page */

.admin-container {
    padding-top: 100px;                  
}

/* Styling for BOTH home page and admin page */

body {
    background-color: #FFB7B2;
    overflow: hidden;
}

.main-logo {
    width: 400px;
    height: auto;
}

